<!DOCTYPE html>
<html>
<head>
<!-- This is a demo html website-->
<title>html Demo</title>
<style>
table,th,td {
  border:2px solid black;
}
</style>
</head>
<body>
<a href="www.google.com">Visit google to search anything.</a><br/>
<abbr title="GOOGLE">Web search</abbr>founded in 1998.
<address>
18-7-526/98, SRT colony, kandikal gate,Huppugda,Hyderabad.
</address>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3HAc4I3TOISywFqkJ3EWA5xzRCEsAukf_Xw&usqp=CAU" alt="Wine bottle" width="50%" height="50%">
<article>
<h2>Google chrome</h2>
<p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
</article>
<aside>
<h2>Google chrome</h2>
<p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
</aside>
<audio controls>
<source src="https://www.w3schools.com/tags/horse.ogg" type="audio/mp3">
<source src="https://www.w3schools.com/tags/horse.ogg" type="audio/mpeg">
</audio>
<table>
<colgroup>
<col span="2" style="background-color:blue">
<col style="background-color:blue">
</colgroup>
<tr>
<th>S no</th>
<th style=vertical-align>Names</th>
</tr>
<tr>
<td>1</td>
<td>Bhaskar</td>
<tr>
</table>
<button type="button" onclick="alert('Ok GOOGLE')" class="btn1Color">Click Me!</button>
<ul>
  <li>User <bdi>hrefs</bdi>: 60 points</li>
  <li>User <bdi>jdoe</bdi>: 80 points</li>
  <li>User <bdi>إيان</bdi>: 90 points</li>
 </ul>

<ul>
  <li><data value="21053">Cherry Tomato</data></li>
  <li><data value="21054">Beef Tomato</data></li>
  <li><data value="21055">Snack Tomato</data></li>
</ul>
 <p><img src="https://www.w3schools.com/images/stickman.gif" width="24" height="39" alt="Stickman"> - Notice that we have only specified a relative address for the image. Since we have specified a base URL in the head section, the browser will look for the image at "https://www.w3schools.com/images/stickman.gif".</p>

<p><a href="tags/tag_base.asp">HTML base tag</a> - Notice that the link opens in a new window, even if it has no target="_blank" attribute. This is because the target attribute of the base element is set to "_blank".</p>
<p>This paragraph will go left-to-right.</p>  
<p><bdo dir="rtl">This paragraph will go right-to-left.</bdo></p>  

<p>Here is a quote from WWF's website:</p>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
</blockquote>
<h1>The datalist element</h1>
<form action="/action_page.php" method="get">
  <label for="browser">Choose your browser from the list:</label>
  <input list="browsers" name="browser" id="browser">
  <datalist id="browsers">
    <option value="Edge">
    <option value="Firefox">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
  </datalist>
  <input type="submit">
</form>
<p><strong>Note:</strong>The datalist tag is not supported in Safari 12.0 (or earlier).</p>
<dl>
  <dt>Coffee</dt>
  <dd>Black hot drink</dd>
  <dt>Milk</dt>
  <dd>White cold drink</dd>
</dl>
<p>The offer price is dropped from <del>12000</del> to 10000</p>
<h1>The Epcot Element</h1>
<details>
  <summary>Epcot Center</summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>

<h1>The dfn element</h1>

<p><dfn>HTML</dfn> is the standard markup language for creating web pages.</p>

</body>
</html>
