body{
  font-family: Times New Roman;
  color:white;
  background-color:rgb(231, 185, 138);
}
.btn1Color {
  color: blue;
  background-color: rgb(250, 68, 12);
}
<style>
table,th,td{
  border:100px;
}
  dd { 
    display: block;
    margin-left: 40px;
    color:blue;
  }

  .mydiv{
    border:5px solid rgb(20, 188, 230);
    background-color:rgb(229, 236, 238);
    text-align:center;
    color: black;

  }

