<!DOCTYPE html>
<html>
<head>
<!-- This is a demo html website-->
<title>html Demo</title>
</head>
<body>
<a href="www.google.com">Visit google to search anything.</a>
<abbr title="GOOGLE">Web search</abbr>founded in 1998.
<address>
18-7-526/98,SRT colony,kandikal gate,Huppugda,Hyderabad.
</address>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3HAc4I3TOISywFqkJ3EWA5xzRCEsAukf_Xw&usqp=CAU" alt="Wine bottle" width="50%" height="50%">
<article>
<h2>Google chrome</h2>
<p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
</article>
<aside>
<h2>Google chrome</h2>
<p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
</aside>
<audio controls>
<source src="Vikram bgm.mp3" type="audio/ogg">
<source src="Vikram bgm.mp3" type="audio/mpeg">
</audio>

</body>
</html>
