body{
  font-family: Times New Roman;
  color:white;
  background-color:rgb(216, 134, 149);
  background-image:url("https://image.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg");
}
.btn1Color {
  color: blue;
  background-color: rgb(250, 68, 12);
}
